<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://xmlns.jcp.org/xml/ns/persistence"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd"
             version="2.1">

    <persistence-unit name="chapter04PU" transaction-type="RESOURCE_LOCAL">
        <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
        <class>Chapter04.Book</class>
        <properties>
            <property name="javax.persistence.schema-generation-action" value="drop­and­create"/>
            <property name="javax.persistence.schema-generation-target" value="database­and­scripts"/>
            <property name="javax.persistence.jdbc.driver" value="oracle.jdbc.driver.OracleDriver" />
            <property name="javax.persistence.jdbc.url" value="jdbc:oracle:thin:@typhoon:1521:work"/>
            <property name="javax.persistence.jdbc.user" value="creator"/>
            <property name="javax.persistence.jdbc.password" value="c67"/>
            <property name="hibernate.connection.pool_size" value="1"/>
            <property name="hibernate.dialect" value="org.hibernate.dialect.OracleDialect"/>
            <property name="show_sql" value="true"/>
            <property name="hibernate.hbm2ddl.auto" value="create" />
            </properties>
    </persistence-unit>
</persistence>